.logo {
  // position: static;
  z-index: 999;
  @media #{$desktop} {
    position: absolute;
    left: 50%;
    margin-left: -80px;
  }
}

.logo__image {
  vertical-align: middle;
  width: 77px;
  height: 24px;

  @media #{$desktop} {
    width: 160px;
    height: 50px;
  }
}