.goods__title {
  margin-bottom: 32px;

  @media @desktop {
    margin-bottom: 30px;
  }
}

.goods__item {
  border-bottom: 1px solid @grey2;
  margin-bottom: 17px;

  @media @desktop {
    margin-bottom: 25px;
  }

  &:last-child {
    border-bottom: none;
    @media @desktop {
      margin-bottom: 0;
    }
  }
}
